{% extends "base.html" %}
<!-- https://vdoto2.com/Calculator -->

{% block title %}VDOT{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
    <h1 class="text-center">VDOT Calculator</h1>
{% endblock %}


{% block content %}
    <form>
        <!-- ######## -->
        <!-- Calculate VDOT --> 
        <!-- ######## -->
        <h2 class="text-center col-md-12">Distance</h2>
        <div class='mb-3'> <!-- margin bottom default 3-->
            <input id='distance' type='number' class='form-control' step='any' min='0' placeholder='Distance'>
        </div>

        <div class='mb-3'>
            <label for='units'></label>
            <select name="units" id='distance_units'>
                <option value='mi'>Miles</option>
                <option value='m'>Meters</option>
                <option value='km'>Kilometers</option>
                <option value='half'>1/2 Marathons</option>
                <option value='full'>Marathons</option>
            </select>
        </div>

        <h2 class="text-center col-md-12">Time</h2>
        <div class="mb-3">
            <input id="hour" type="number" class='form-control' step='any' min='0' placeholder='Hr'>
        </div>
        <div class="mb-3">
            <input id="minute" type="number" class='form-control' step='any' min='0' placeholder='Min'>
        </div>
        <div class="mb-3">
            <input id="second" type="number" class='form-control' step='any' min='0' placeholder='Sec'>
        </div>
        


    </form>
{% endblock %}