{% extends "base.html" %}
<!-- https://vdoto2.com/Calculator -->

{% block title %}VDOT{% endblock %}

{% block head %}
<script>
    // use vdot to predict ideal pace over a given distance
    function predict_pace(){
        let vdot_predict = document.getElementById('vdot_predict').value;
        let distance_predict = document.getElementById('distance_predict').value;

        document.getElementById('results').innerHTML = vdot_predict

    }

</script>
{% endblock %}

{% block header %}
    <h1 class="text-center">VDOT Calculator</h1>
{% endblock %}


{% block content %}
    <form>
        <!-- ######## -->
        <!-- Calculate VDOT --> 
        <!-- ######## -->
        <h2 class="text-center col-md-12">Calculate VDOT</h2>

        <h2 class="text-center col-md-12">Distance</h2>
        <div class='mb-3'> <!-- margin bottom default 3-->
            <input id='distance' type='number' class='form-control' step='any' min='0' placeholder='Distance'>
        </div>

        <div class='mb-3'>
            <label for='units'></label>
            <select name="units" id='distance_units'>
                <option value='mi'>Miles</option>
                <option value='m'>Meters</option>
                <option value='km'>Kilometers</option>
                <option value='half'>1/2 Marathons</option>
                <option value='full'>Marathons</option>
            </select>
        </div>

        <h2 class="text-center col-md-12">Time</h2>
        <div class="mb-3">
            <input id="hour" type="number" class='form-control' step='any' min='0' placeholder='Hr'>
        </div>
        <div class="mb-3">
            <input id="minute" type="number" class='form-control' step='any' min='0' placeholder='Min'>
        </div>
        <div class="mb-3">
            <input id="second" type="number" class='form-control' step='any' min='0' placeholder='Sec'>
        </div>

        <h2 class="text-center col-md-12">VDOT</h2>

    </form>

    <!-- add a horizontal divider -->
    <hr>
    <form>
        <!-- ######## -->
        <!-- Calculate VDOT --> 
        <!-- ######## -->
        <h2 class="text-center col-md-12">Predict Pace</h2>

        <h2 class="text-center col-md-12">VDOT</h2>
        <div class="mb-3">
            <input id="vdot_predict" type="number" class='form-control' step='any' min='0' placeholder='VDOT'>
        </div>


        <h2 class="text-center col-md-12">Distance</h2>
        <div class='mb-3'> <!-- margin bottom default 3-->
            <input id='distance_predict' type='number' class='form-control' step='any' min='0' placeholder='Distance'>
        </div>

        <div class='mb-3'>
            <label for='units'></label>
            <select name="units" id='distance_units'>
                <option value='mi'>Miles</option>
                <option value='m'>Meters</option>
                <option value='km'>Kilometers</option>
                <option value='half'>1/2 Marathons</option>
                <option value='full'>Marathons</option>
            </select>
        </div>

        <h2 class="text-center col-md-12">Pace</h2>

        <div id='submit-button' class='d-flex mb-3'>
            <!-- return false with the method call allows enter key to toggle the button but not refresh the page -->
            <button  class='btn btn-primary btn-lg btn-block'
            onclick='
                predict_pace();
                document.getElementById("results").style.display = "block";
                document.getElementById("hidden-results").style.display = "block";
                scrollToBottom();
                return false;
            '>Submit</button>
        </div>

    </form>

    <h2 class="text-center col-md-12" id="hidden-results">Results</h2>
    <div class='col-md-12'>
        <p class='text-center' id='results'></p>
    </div>
{% endblock %}