{% extends "base.html" %}

{% block title %}Running Log{% endblock %}

{% block style %}
    .btn-block {
        width: 40%;
        margin: auto;
    }

    #distanceChart {
        width: 90%; /* Adjust the width of the container */
        max-width: 600px; /* Set a maximum width if needed */
        /* height: 400px; /* Adjust the height of the container */
        margin: auto;
    }

{% endblock %}

{% block header %}
    <h1 class="text-center">Running Log</h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <!---------->
    <!-- Form -->
    <!---------->
    <!-- A form for adding a run. The 'method="post"' means that this form will send a POST request when submitted. -->
    <form method="post">
        <!-- This is a security feature that protects against certain types of attacks. -->
        {% csrf_token %}
        <!-- The form fields. 'form.as_p' means to render the form fields as paragraphs. -->
        <!-- {{ form.as_p }} -->
        <div class="form-group col-md-12 text-center mb-3">
            <h2>Date</h2>
            <input type="date" name="date" class="form-control">
        </div>
        <div class="form-group col-md-12 text-center mb-3">
            <h2>Distance</h2>
            <input type="number" name="distance" class="form-control">
        </div>
        <div class="form-group col-md-12 text-center mb-3">
            <h2>Total Time</h2>
            <input type="time" name="time" class="form-control" step="1">
        </div>
        <div class="form-group col-md-12 text-center mb-3">
            <h2>Pace</h2>
            <input type="text" name="pace" class="form-control">
        </div>


        <div class="form-group col-md-12 text-center mb-3">
            <h2>Total Time</h2>
            <input type="text" name="total_time" class="form-control" placeholder="e.g., 1:20:15">
        </div>

        <!-- The submit button for the form. -->
        <div id='submit-button' class='d-flex mb-3'>
            <button type="submit" class='btn btn-primary btn-lg btn-block'>Add run</button>
        </div>

        </div>

    </form>

        <div id="distanceChart"></div>
            <canvas id="myChart"></canvas>
        </div>

        
        <!---------->
        <!-- Plot -->
        <!---------->
        <script>
            const run_distances = {{ run_data.distances|default_if_none:"[]" }};
            
            const dates = [
                {% for run in runs%}
                    "{{ run.date|default_if_none:"null" }}",
                {% endfor %}
            ]

            const times = [
                {% for run in runs%}
                    "{{ run.time|default_if_none:"null" }}",
                {% endfor %}
            ]

            // Define the data and configuration
            const data = {
                labels: dates,
                datasets: [{
                    label: 'Run Distance',
                    data: run_distances,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1,
                    backgroundColor: 'rgb(75, 192, 192)',
                }]
            };
        
            const config = {
                type: 'line',
                data: data,
                options: {
                    responsive: true,
                    
                    plugins: {
                        title: {
                            display: true,
                            text: 'Running Log'
                        }
                    },
                    layout: {
                        padding: {
                            left: 50,
                            right: 50,
                            top: 50,
                            bottom: 50,
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        },
                        x: {
                            ticks: {
                                autoSkip: true, // skip some labels to avoid overlap
                                maxRotation: 45,
                                minRotation: 45,
                                font: {
                                    size: 12, // Adjust the font size
                                }
                            }
                        }
                    },
                    animation: { // Enable animation
                    duration: 500, // Set the animation duration to 2 seconds
                    easing: 'easeOutQuad' // Set the easing function for the animation
                    },
                }
            };

                var myChart = new Chart(
                document.getElementById('myChart'),
                config
                );
                
        </script>
    <div></div>

    <!------------------>
    <!-- List of Runs -->
    <!------------------>
    <h2 class="text-center">Your runs:</h3>
    <!-- A list of the user's runs. -->
    <ul>
        <!-- Loop over each run in 'runs'. -->
        {% for run in runs %}
        <li>
            <!-- Display the date, distance, and time of the run. -->
            Date: {{ run.date }}, Distance: {{ run.distance }} km, Time: {{ run.time }}, Total Time: {{ run.total_time}}
        </li>
        <!-- If 'runs' is empty (i.e., the user has no runs), display 'No runs yet.' -->
        {% empty %}
        <li>No runs yet.</li>
        {% endfor %}
    </ul>

{% endblock %}