{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <style>
        /* This is a basic CSS to position the username on the top right corner */
        .username-display {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>

</head>

<body>
    <div class="App">
        <header>
            Welcome
        </header>
    </div>
    <div>

        <h2>Homepage</h2>
    
        <!-- This block will check if user is authenticated and then display the username -->
        {% if user.is_authenticated %}
        <div class="username-display">
            Hello, {{ user.username }}!
            <br>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        {% else %}
        <!-- If the user is not authenticated, display the login link in the same location -->
        <div class="username-display">
            <!--
                {% url 'login' %} generates the URL for the login page.
                {{ request.path }} gives you the current URL path.
                ?next={{ request.path }} appends the current path as the next parameter to the login URL. -->
            <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
        </div>
        {% endif %}

        <!-- link to admin console -->
        <a href="/admin">Admin</a>
        <!-- link to registration page -->
        <a href="/register">Registration</a>
        <!-- link to login page -->
        <!-- <a href="/login">Login</a> -->
        <!-- link to pace calculator app -->
        <a href="/pace_calculator">Pace Calculator</a>
        <!-- link to running log app -->
        <a href="/running_log">Running Log</a>
    </div>
    <div>
        admin user: admin, password: admin
    </div>
</body>

</html>
