{% extends 'base.html' %}
{% load static %}

{% block title %}Ace My Pace{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}


{% block header %}
    <h1 class="text-center">Ace My Pace</h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div>
        <!-- link to admin console -->
        <a href="/admin">Admin</a>
        <!-- link to registration page -->
        <a href="/register">Registration</a>
        <!-- link to login page -->
        <!-- <a href="/login">Login</a> -->
        <!-- link to pace calculator app -->
        <a href="/pace_calculator">Pace Calculator</a>
        <!-- link to running log app -->
        <a href="/running_log">Running Log</a>
        <!-- link to biometrics app -->
        <!-- i guess this preferable linking syntax -->
        <a href="{% url 'add_biometrics' %}">Biometrics</a>
    </div>
    <div>
        admin user: admin, password: admin <br>
        user: Robert, password: Pleaseletthiswork1
    </div>
    
{% endblock %}
