{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header>
            Welcome
        </header>
    </div>
    <div>
        <!-- link to admin console -->
        <a href="/admin">Admin</a>
        <!-- link to registration page -->
        <a href="/register">Registration</a>
        <!-- link to login page -->
        <a href="/login">Login</a>
        <!-- link to pace calculator app -->
        <a href="/pace_calculator">Pace Calculator</a>
        <!-- link to running log app -->
        <a href="/running_log">Running Log</a>
    </div>
    <div>
        admin user: admin, password: admin
    </div>
</body>

</html>
