{% extends "base.html" %}

{% block title %}Pace Calculator{% endblock %}

{% block head %}
    <script>
        function chooseCalc() {
            var calc_what = document.querySelector('input[name="calculate_what"]:checked').value;

            if (calc_what == 'distance') {
                totalDistance();
            }

            if (calc_what == 'pace') {
                calc_pace();
            }

            if (calc_what == 'time') {
                totalTime();
            }
        }

        // scroll to the bottom of the page when the user hits submit
        function scrollToBottom() {
            window.scrollTo(0,document.body.scrollHeight);
        }

        function totalDistance() {
            let pace_hr = document.getElementById('pace_hr').value;
            let pace_min = document.getElementById('pace_min').value;
            let pace_sec = document.getElementById('pace_sec').value;
            let pace_units = document.getElementById('pace_units').value;

            let totaltime_hr = document.getElementById('totaltime_hr').value;
            let totaltime_min = document.getElementById('totaltime_min').value;
            let totaltime_sec = document.getElementById('totaltime_sec').value;

            distance_meter_conversion = {'m': 1, 'km': 1000, 'mi': 1609.34, 'half':21097.5, 'full': 42195};

            // convert to seconds
            pace = pace_hr * 3600 + pace_min * 60 + pace_sec * 1;

            // convert to meters
            pace_length = distance_meter_conversion[pace_units];

            // convert to seconds
            tot_time = totaltime_hr * 3600 + totaltime_min * 60 + totaltime_sec * 1;

            // calculate results
            let dist_200m = ((tot_time / pace) * pace_length / 200);
            let dist_400m = ((tot_time / pace) * pace_length / 400);
            let dist_800m = ((tot_time / pace) * pace_length / 800);
            let dist_miles = ((tot_time / pace) * pace_length / 1609.34);
            let dist_5k = ((tot_time / pace) * pace_length / 5000);
            let dist_10k = ((tot_time / pace) * pace_length / 10000);
            let dist_half = ((tot_time / pace) * pace_length / 21097.5);
            let dist_marathon = ((tot_time / pace) * pace_length / 42195);
            let dist_earth = ((tot_time / pace) * pace_length / (40.075 * 10 ** 6));

            // round
            function roundDistance(distance) {
                if (distance < 0.01 || distance > 100) {
                    return distance.toExponential(2);
                } else {
                    return distance.toFixed(2);
                }
            }

            document.getElementById('results').innerHTML =
                '200m: ' + roundDistance(dist_200m) +
                '<br>400m: ' + roundDistance(dist_400m) +
                '<br>800m: ' + roundDistance(dist_800m) +
                '<br>Miles: ' + roundDistance(dist_miles) +
                '<br>5kms: ' + roundDistance(dist_5k) +
                '<br>10kms: ' + roundDistance(dist_10k) +
                '<br>Half Marathons: ' + roundDistance(dist_half) +
                '<br>Marathons: ' + roundDistance(dist_marathon) +
                '<br>Trips around the Earth: ' + roundDistance(dist_earth);
        }

        function calc_pace() {
            let distance = document.getElementById('distance').value;
            let distance_units = document.getElementById('distance_units').value;

            let totaltime_hr = document.getElementById('totaltime_hr').value;
            let totaltime_min = document.getElementById('totaltime_min').value;
            let totaltime_sec = document.getElementById('totaltime_sec').value;

            distance_meter_conversion = {'m': 1, 'km': 1000, 'mi': 1609.34, 'half':21097.5, 'full': 42195};

            // convert to meters
            run_length = distance * distance_meter_conversion[distance_units];
            
            // convert to seconds
            pace_time = totaltime_hr * 3600 + totaltime_min * 60 + totaltime_sec * 1; 

            // pace in s/m
            pace = pace_time / run_length;
            
            document.getElementById('results').innerHTML = 
                '200m: ' + new Date(pace * 200 * 1000).toISOString().slice(11, 19) +
                '<br>400m: ' + new Date(pace * 400 * 1000).toISOString().slice(11, 19) +
                '<br>800m: ' + new Date(pace * 800 * 1000).toISOString().slice(11, 19) +
                '<br>Mile: ' + new Date(pace * 1609.34 * 1000).toISOString().slice(11, 19) +
                '<br>5k: ' + new Date(pace * 5000 * 1000).toISOString().slice(11, 19) +
                '<br>10k: ' + new Date(pace * 10000 * 1000).toISOString().slice(11, 19) +
                '<br>Half Marathon: ' + new Date(pace * 21097.5 * 1000).toISOString().slice(11, 19) +
                '<br>Marathon: ' + new Date(pace * 42195 * 1000).toISOString().slice(11, 19);
        }

        function totalTime() {
            let distance = document.getElementById('distance').value;
            let distance_units = document.getElementById('distance_units').value;

            let pace_hr = document.getElementById('pace_hr').value;
            let pace_min = document.getElementById('pace_min').value;
            let pace_sec = document.getElementById('pace_sec').value;
            let pace_units = document.getElementById('pace_units').value;

            distance_meter_conversion = {'m': 1, 'km': 1000, 'mi': 1609.34, 'half': 21097.5, 'full': 42195};

            // convert to meters
            run_length = distance * distance_meter_conversion[distance_units];

            // convert to seconds
            pace = pace_hr * 3600 + pace_min * 60 + pace_sec * 1;

            // convert to meters
            pace_length = distance_meter_conversion[pace_units]

            // calculate total time
            total_time = pace / pace_length * run_length
            total_time = new Date(total_time * 1000).toISOString().slice(11, 19);

            document.getElementById('results').innerHTML = 'Total Time: ' + total_time;
        }

    </script>
{% endblock %}

{% block style %}

    .btn-block {
        width: 80%;
        margin: auto;
    }

    #results {
        display: none; /* begin with results section hidden */
        background-color: #ffffff; /* light gray */
        border-radius: 5px; /* round out the corners */
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* give it a 3D effect */
        width: 50%;
        margin: auto;
        border: 1px solid #ccc; /* gray border */
        padding: 20px;
    }

    #hidden-results {
        display: none; /* begin with results secion hidden */
    }

    #submit-button {
        margin: auto;
        width: 50%
    }


    
{% endblock %}

{% block header %}
    <h1 class="text-center">Pace Calculator</h1>
{% endblock %}

{% block content %}

    <form>
        <!-- ######## -->
        <!-- Distance --> 
        <!-- ######## -->
        <h2 class="text-center col-md-12">Distance</h2>
        <div class='mb-3'> <!-- margin bottom default 3-->
            <input id='distance' type='number' class='form-control' step='any' min='0' placeholder='Distance'>
        </div>

        <div class='mb-3'>
            <label for='units'></label>
            <select name="units" id='distance_units'>
                <option value='mi'>Miles</option>
                <option value='m'>Meters</option>
                <option value='km'>Kilometers</option>
                <option value='half'>1/2 Marathons</option>
                <option value='full'>Marathons</option>
            </select>
        </div>

        <!-- #### -->
        <!-- Pace --> 
        <!-- #### -->
        <h2 class="text-center col-md-12">Pace</h2>

        <div class='mb-3'>
            <input id='pace_hr' type='number' class='form-control' step='any' min='0' placeholder='Hr'>
        </div>
        <div class='mb-3'>
            <input id='pace_min' type='number' class='form-control' step='any' min='0' max='59' placeholder='Min'>
        </div>
        <div class='mb-3'>
            <input id='pace_sec' type='number' class='form-control' step='any' min='0' max='59' placeholder='Sec'>
        </div>

        <div class='mb-3'>
            <label for='units'></label>
            <select name="units" id='pace_units'>
                <option value='mi'>Per Mile</option>
                <option value='m'>Per Meter</option>
                <option value='km'>Per Kilometer</option>
            </select>
        </div>

        <!-- ########## -->
        <!-- Total Time --> 
        <!-- ########## -->
        <h2 class="text-center col-md-12">Total Time</h2>

        <div class='mb-3'>
            <input id='totaltime_hr' type='number' class='form-control' step='any' min='0' placeholder='Hr'>
        </div>
        <div class='mb-3'>
            <input id='totaltime_min' type='number' class='form-control' step='any' min='0' max='59' placeholder='Min'>
        </div>
        <div class='mb-3'>
            <input id='totaltime_sec' type='number' class='form-control' step='any' min='0' max='59' placeholder='Sec'>
        </div>

        <!-- ############# -->
        <!-- Radio Buttons --> 
        <!-- ############# -->

        <h2 class="text-center col-md-12">Select Calculation</h2>
        <div class='form-group col-md-4 text-center'>
            <label>
                <input value='distance' name='calculate_what' type='radio' />
                    Calculate Distance
            </label>
        </div>
        <div class='form-group col-md-4 text-center'>
            <label>
                <input value='pace' name='calculate_what' type='radio' />
                    Calculate Pace
            </label>
        </div>
        <div class='form-group col-md-4 text-center'>
            <label>
                <input value=time id='calculate' type='radio' name='calculate_what' />
                    Calculate Total Time
            </label>
        </div>

        <div id='submit-button' class='d-flex'>
            <!-- return false with the method call allows enter key to toggle the button but not refresh the page -->
            <button  class='btn btn-primary btn-lg btn-block'
            onclick='
                chooseCalc();
                document.getElementById("results").style.display = "block";
                document.getElementById("hidden-results").style.display = "block";
                scrollToBottom();
                return false;
            '>Submit</button>
        </div>
    </form>

    <h2 class="text-center col-md-12" id="hidden-results">Results</h2>
    <div class='col-md-12'>
        <p class='text-center' id='results'></p>
    </div>

{% endblock %}
