{% extends "base.html" %}

{% block title %}Running Log{% endblock %}

{% block style %}

{% endblock %}

{% block header %}
    <h1 class="text-center">Running Log</h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

    <!-- A form for adding a run. The 'method="post"' means that this form will send a POST request when submitted. -->
    <form method="post">
        <!-- This is a security feature that protects against certain types of attacks. -->
        {% csrf_token %}
        <!-- The form fields. 'form.as_p' means to render the form fields as paragraphs. -->
        <!-- {{ form.as_p }} -->
        <div class="form-group col-md-12 text-center">
            <h2>Date</h2>
            <input type="date" name="date" class="form-control">
        </div>
        <div class="form-group col-md-12 text-center">
            <h2>Distance</h2>
            <input type="number" name="distance" class="form-control">
        </div>
        <div class="form-group col-md-12 text-center">
            <h2>Total Time</h2>
            <input type="time" name="time" class="form-control" step="1">
        </div>
        <div class="form-group col-md-12 text-center">
            <h2>Pace</h2>
            <input type="text" name="pace" class="form-control">
        </div>
        <!-- The submit button for the form. -->
        <button type="submit" class='btn btn-primary btn-lg btn-block'>Add run</button>
    </form>

    <!-- Plot of distances with Chart.js -->
    <canvas id="myChart"></canvas>

    <script>
        // Collect all of the runs in the database
        const run_distances = [
            {% for run in runs %}
                {{ run.distance|default_if_none:"null" }},
            {% endfor %}
        ];
        const dates = [
            {% for run in runs %}
                "{{ run.date|default_if_none:"null" }}",
            {% endfor %}
        ]

        // Define the data and configuration
        const data = {
            labels: dates,
            datasets: [{
                label: 'Run Distance',
                data: run_distances,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1,
                backgroundColor: 'rgb(75, 192, 192)',
            }]
        };
    
        const config = {
            type: 'line',
            data: data,
            options: {
                responsive: true,
                plugins: {
                title: {
                    display: true,
                    text: 'Running Log'
                }
                },
                scales: {
                y: {
                    beginAtZero: true
                }
                },
                animation: { // Enable animation
                duration: 500, // Set the animation duration to 2 seconds
                easing: 'easeOutQuad' // Set the easing function for the animation
                },
                maxHeight: 40, // Set the max height of the chart to 400 pixels
                maxWidth: 60, // Set the max width of the chart to 600 pixels
            }
            };

            var myChart = new Chart(
            document.getElementById('myChart'),
            config
            );
    </script>

    <h2 class="text-center">Your runs:</h3>
    <!-- A list of the user's runs. -->
    <ul>
        <!-- Loop over each run in 'runs'. -->
        {% for run in runs %}
        <li>
            <!-- Display the date, distance, and time of the run. -->
            Date: {{ run.date }}, Distance: {{ run.distance }} km, Time: {{ run.time }}
        </li>
        <!-- If 'runs' is empty (i.e., the user has no runs), display 'No runs yet.' -->
        {% empty %}
        <li>No runs yet.</li>
        {% endfor %}
    </ul>

{% endblock %}